:root {
    --background-color: #fff;
    --text-color: #333;
    --card-background: #f2f2f2;
    --input-focus-color: #e0f0ff;
    --button-background: #f9f9f9eb;
    --button-text-color: #333;
    --button-hover-background: #f2f2f2;
    --button-hover-text-color: #5a5a5a;
    --link-hover-color: #a7a9a7;
    --input-text-color: #333;
    --input-border-color: #ccc;
}

[data-theme="dark"] {
    --background-color: #333;
    --text-color: #f2f2f2;
    --card-background: #555;
    --input-focus-color: #3f3f3f;
    --button-background: #555;
    --button-text-color: #f2f2f2;
    --button-hover-background: #777;
    --button-hover-text-color: #fff;
    --link-hover-color: #a7a9a7;
    --input-background: #444;
    --input-text-color: #ccc;
    --input-border-color: #666;
}

body,
html {
    height: 100%;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

* {
    box-sizing: border-box;
    font-family: 'crimson-text', serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



section {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%;
    text-align: center;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: 'MedievalSharp', cursive;
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    width: 80%;
    font-family: 'crimson-text', serif;
    max-width: 600px;
    background-color: var(--card-background);
    border-radius: 10px;
}

/* Scene Styles */
button {
    background-color: var(--button-background);
    color: var(--button-text-color);
    padding: 10px 15px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: var(--button-hover-background);
    color: var(--button-hover-text-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.choices a {
    list-style: none;
    padding-left: 0;
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 5px 8px;
    background-color: transparent;
    color: var(--button-text-color);
    font-size: 16px;
    text-decoration: underline;
    text-align: center;
    border: none;
    border-radius: 5px;
    transition: color 0.3s, text-decoration-color 0.3s;
    cursor: pointer;
    font-weight: 600;
}

.choices li::before {
    content: "\261E"; /* You can replace '•' with any character or Unicode symbol */
    color: var(--text-color); /* Custom color */
    font-weight: bold; /* Custom font weight */
    display: inline-block; /* Makes the pseudo-element behave like text */
    width: 1em; /* Ensures proper spacing between the bullet and the text */
    margin-left: -1em; /* Adjusts position to align with the list items */
}

.choices a:hover,
.choices a:focus {
    color: var(--link-hover-color);
    text-decoration-color: var(--link-hover-color);
    background-color: transparent;
}

.scene-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Form Styles */
label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: right;
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: var(--input-background, #fff) !important;
    color: var(--input-text-color, #333);
    border: 1px solid var(--input-border-color, #ccc);
}

input[type="text"]:focus,
select:focus {
    background-color: var(--input-focus-color) !important;
    outline: none;
    box-shadow: 0 0 5px var(--input-focus-color);
    border-color: var(--input-focus-color);
    outline: none;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin: .5em
}

.form-row label {
    margin-bottom: 0;
    margin-right: .5em;
    flex: 2;
}

.form-row input[type="text"],
.form-row select,
.form-row p {
    flex: 1;
}

/* Character Sheet Styles */
.character-sheet {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-auto-rows: auto;
}

.character-title {
    grid-column: 1 / span 3;
}

#ability-scores {
    width: 100%;
    text-align: center;
}
#ability-scores td, #ability-scores th {
    text-align: center;
}

.character-sheet #ability-scores {
    grid-column: 1 / span 3;
}

.character-sheet #inventory-row {
    grid-column: 1 / span 3;
}

.hit-points {
    border: 2px solid var(--text-color);
    border-radius: 50%; 
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
    height: 4.1em;
    width: 4.1em;
    padding: 0.5em;
}

.hit-points>span,
.armour-class>span {
    display: block;
    padding: 0.1em;
}

.hit-points span.maximum-hit-points {
    border-top: thin solid black;
}

.hit-points span.divider {
    display: none;
}

@media (max-width: 768px) {
    .character-sheet {
        padding: 15px;
    }
}